# Node
node_modules
server/node_modules
safecircle-react/node_modules

# Environment files — KABHI PUSH MAT KARNA
server/.env
.env

# NLP model — 1GB file, GitHub pe nahi jayegi
nlp-service/best_multitask_model.bin
nlp-service/__pycache__/
nlp-service/*.pyc

# React build output
safecircle-react/dist

# OS files
.DS_Store
Thumbs.db

# Logs
*.log